.full-section {
	width:100%;
	background-color:#eee;
}

.content-section {
	
}

.card {
	border:solid #777 1px;
	box-shadow:0 0 6px;
	transition:box-shadow 0.2s,background-color 0.2s;
}

.card:active {
	box-shadow:0 0 2px;
	background-color:#eee;
}

.article-img {
	background-color:#eee;
	width:100%;
}