body {
	margin:0
}

.full-section {
	width:100%;
	background:#444;
	box-shadow:0 0 15px;
	/*transition:box-shadow 0.1s;*/
}

/*.full-section:active {
	box-shadow:0 0 5px;
}*/

.content-section {
	margin:8px;
}

.card {
	border:solid #777 1px;
	box-shadow:0 0 6px;
	border-radius:4px;
	transition:box-shadow 0.1s/*,background-color 0.1s,border-radius 0.1s;*/
}

.card:active {
	box-shadow:0 0 2px;
	background-color:#eee;
}

.article-img {
	background-color:#eee;
	width:100%;
	border-radius:4px;
}

.slide-img {
	background:#eee;
	width:100%;
}

.article-title {
	font-size:20px;
}

.article-detail {
	color:#777;
}

.title-bar {
	height:40px;
	border-bottom:solid #777 1px;
	display:flex;
	align-items:center;
}

.avator {
	width:32px;
	height:32px;
}

.date {
	color:#777;
	padding-left:1em;
}

.slide-title {
	width:100%;
	background:#444;
	color:#fff;
}