.full-section {
	width:100%;
	background-color:#eee;
}

.content-section {
	
}

.card {
	border:solid #777 1px;
	box-shadow:0 0 6px;
	border-radius:4px;
	transition:box-shadow 0.1s,background-color 0.1s,border-radius 0.1s;
}

.card:active {
	box-shadow:0 0 2px;
	background-color:#eee;
}

.article-img {
	background-color:#eee;
	width:100%;
	border-radius:4px;
}

.article-title {
	font-size:20px;
}

.article-detail {
	color:#777;
}

.title-bar {
	height:40px;
	border-bottom:solid #777 1px;
}

.avator {
	width:32px;
	height:32px;
}